@model Shoer.Entity.Shoe.Shoe

@{
    ViewData["Title"] = "Update Shoe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container pb-5" style="margin-top: 150px;">
    <h1>Update Shoe</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="UpdateShoe">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShoeDescription" class="control-label"></label>
                    <input asp-for="ShoeDescription" class="form-control" />
                    <span asp-validation-for="ShoeDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>M</label>
                    <input type="radio" name="Gender" value="M" />
                    <label>F</label>
                    <input type="radio" name="Gender" value="F" checked="checked" />
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Size" class="control-label"></label>
                    <input asp-for="Size" class="form-control" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Stock" class="control-label"></label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select name="BrandId">
                        @foreach (var item in ViewBag.Brands)
                        {
                            if (item.Id == Model.BrandId)
                            {
                                <option value="@item.Id" selected="selected">@item.BrandName</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.BrandName</option>
                            }

                        }
                    </select>
                </div>
                <div class="form-group">
                    <select name="CategoryId">
                        @foreach (var item in ViewBag.Categories)
                        {
                            if (item.Id == Model.CategoryId)
                            {
                                <option value="@item.Id" selected="selected">@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.CategoryName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>